################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/src/.vs/GameOfLife/v16
/src/GameOfLife.App/bin/
/src/GameOfLife.App/obj
/src/GameOfLife.Domain/bin
/src/GameOfLife.Domain/obj
/src/GameOfLife.Domain.Tests/bin
/src/GameOfLife.Domain.Tests/obj
/src/GameOfLife.Domain/bin
/src/GameOfLife.Domain/obj
/src/.idea/.idea.GameOfLife/.idea
/src/.vs/GameOfLife/DesignTimeBuild
*.user
